# --- APP ---
PORT=3001
NODE_ENV=development
COOKIE_SECRET=same-serious-secret
FRONTEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
THROTTLE_LIMIT=99999
THROTTLE_TTL=60000


# --- POSTGRES ---
DB_USERNAME=soorq
DB_PASSWORD=soorq
DB_DATABASE=deView
DB_PORT=6000
DB_SCHEMA=base

DATABASE_URL=postgres://soorq:soorq@127.0.0.1:6000/deView



# --- REDIS ---
# in the docker network will be, not show port redis, at prod env
# REDIS_HOST=redis
# at development mode
REDIS_HOST=127.0.0.1
REDIS_PORT=7000
REDIS_PASSWORD=same-password


# --- S3 ---
S3_BUCKET_NAME=avatars
S3_ENDPOINT=http://127.0.0.1:9000
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=

# --- JWT ---
JWT_ACCESS_SECRET=same-same-same-same-same
JWT_ACCESS_EXPIRES_IN=30d
JWT_AUDIENCE="de-view-client"
JWT_REFRESH_SECRET=same-same-same-same-same
JWT_REFRESH_EXPIRES_IN=15m
JWT_ISSUER="de-view-client"

# --- MAIL SETTINGS ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM_NAME=
MAIL_FROM_EMAIL=


# --- OAUTH ---
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
