# --- APP ---
PORT=3001
NODE_ENV=development

# --- POSTGRES ---
DB_USERNAME=soorq
DB_PASSWORD=soorq
DB_DATABASE=deView
DB_PORT=6000
DB_SCHEMA=base

DATABASE_URL=postgres://soorq:soorq@127.0.0.1:6000/deView