engine-strict=true

save-workspace-protocol=true
link-workspace-packages=true
prefer-workspace-packages=true

strict-peer-dependencies=true
auto-install-peers=true

publish-branch=master

store-dir=.pnpm-store

shamefully-hoist=false

dedupe-peer-dependents=true
dedupe-injected-deps=true

node-options=--max-old-space-size=4096
